.sidebar__menu> h2{
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link {
    color: #3ea175;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.active__menu__link{
    background: rgba(62, 161, 171, 0.3);
    color: #3ea175;

}

.active__menu__link > a {
    color: #3ea175 !important; 
}

.sidebar__link  > a{
    text-decoration: none;
    color: #a5aaad;
    font-weight: 700;
}



.sidebar__link  > a:focus{
    padding: 7px;
    background: rgba(62, 161, 171, 0.3);
    border-radius: 3px;
}

.sidebar__link  > i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar__logout{
    margin-top: 20px;
    padding: 10px;
    color: #E65061;
}

.sidebar__logout > a{
    text-decoration: none;
    color: #E65061;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar__logout > i{
    margin-right: 10px;
    font-size: 18px;
}
